---
import hljs from "highlight.js";
import "@catppuccin/highlightjs/css/catppuccin-latte.css";

const { code, lang, expandable } = Astro.props;
const html = hljs.highlight(code, {
    language: lang,
    ignoreIllegals: false,
}).value;
---

<style is:global>
    pre.code {
        margin: 1.5rem 0;
        position: relative;
    }

    pre.code > code {
        display: block;
        padding: 1rem;
        border-radius: 0.25rem;
        overflow-x: auto;
        outline-color: var(--text-color);
    }

    pre.code > code::selection {
        color: var(--text-color);
    }

    pre.code:has(input:not(:checked)) > code {
        max-height: 20rem;
        overflow: hidden;
    }

    pre.code:has(input:not(:checked)) > code::before {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(2px);
        mask-image: linear-gradient(to top, white, transparent 50%);
    }

    pre.code:has(input:not(:checked)) > code::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(to top, white, transparent 50%);
    }

    pre.code > label > input {
        display: none;
    }

    pre.code > label {
        position: absolute;
        inset: 0;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: end;
        font-family: var(--code-font);
        color: var(--text-faded-color);
        font-style: italic;
        text-decoration: underline;
    }

    pre.code > label:hover {
        color: var(--text-color);
    }

    pre.code > label:has(input:checked) {
        display: none;
    }
</style>

<pre
    class="code"><code class="hljs"><Fragment set:html={html} /></code>{expandable ? <label><input type="checkbox" />EXPAND</label> : null}</pre>
